{% extends "layout.html" %}
    
{% block title %}
Add a new Listing
{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div id ="container" class="col-lg-6 col-sm-10">
        <h1 class="text-center">Add a new plant listing</h1>
        <form class="log_reg" action="{% url 'add' %}", method="POST">
        {% csrf_token %}
            <div class="form-group">
                <label>Title</label>
                <input autofocus autocomplete="off" type="text" name="title" class="form-control" placeholder="Title">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input autocomplete="off" name="description" type="text" class="form-control"placeholder="Description">
            </div>
            <div class="form-group">
                <label>Plant Type</label>
                <input autocomplete="off" name="plant_type" type="text" class="form-control"placeholder="Plant Type i.e. Indoor or Outdoor">
            </div>
            <div class="form-group">
                <label>Plant Form</label>
                <input autocomplete="off" name="plant_shape" type="text" class="form-control"placeholder="Form i.e. Cutting, seed, or full plant?">
            </div>
            <button id="buttons" type="submit" value="Create" class="btn btn-success col-12">Add</button>
        </form>
        {% if message %}
            <br>
            <h5 id="message" class="text-center">{{ message }}</h5>
        {% endif %}
        <br>
        <div class="card">
            <div class="card-body">
                <p class="card-text text-center">
                    If you want to learn more before you post,<br>
                    please read our <a href="{% url 'faq' %}">FAQ</a> page.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}