
    {% extends "layout.html" %}
    
    {% block title %}
   FAQ
    {% endblock %}
    
    {% block body %}
    <div id="faq_contain" class="jumbotron">
        <h3 class="display-4">Frequently Asked Questions</h3>
        <hr class="my-4">
        <dl>
            <dt>What is the plant exchange?</dt>
            <dd>The purpose of the website was for plant lovers to connect with other plant lovers and have an exchange of plants, cuttings, or seeds. If you have nothing to exchange but see something you like, reach out to the lister of the plant and see if you can work something out.</dd>
            <dt>What if I have nothing to exchange/trade but see a plant I like?</dt>
            <dd>If you have nothing to exchange but see something you like, reach out to the lister of the plant and see if you can work something out. Think of it like Craigslist for plants at that point.</dd>
            <dt>Can all plants be vegetatively propagated (cloned)?</dt>
            <dd>Almost all plants can be vegetatively propagated, though different parts of the plant may be used and the methods used will vary, along with the level of difficulty. Parts which can be used include leaves, stems, shoots, bulbs, rhizomes, stolons, buds and so on.</dd>
            <dt>How do you Mail/Ship cuttings and full plants?</dt>
            <dd>Here are some resources on how to ship plants and cuttings safely: <a href="https://www.youtube.com/watch?v=lv1LFsnCOZs" target="_blank">How to mail full plants</a>, <a href="https://www.youtube.com/watch?v=g37eapmW1pI" target="_blank">How to mail succulents</a>, <a href="https://www.youtube.com/watch?v=yFS3RDFNjLk" target="_blank">How to mail plant cuttings.</a></dd>
            <dt>How do I clone plants?</dt>
            <dd>Here are some resources to help guide you: <a href="https://www.youtube.com/watch?v=iHLJDSPNn68" target="_blank">How to clone plants</a>, <a href="https://www.youtube.com/watch?v=cK3Qg2mGYAg" target="_blank">How to clone succulents.</a></dd>
          </dl>    
          <hr class="my-4">
        <a class="btn btn-success btn-lg" href="/" role="button">Go Back</a>
    </div>

    {% endblock %}