
    {% extends "layout.html" %}
    
    {% block title %}
    Dashboard
    {% endblock %}
    
    {% block body %}
        <h2 id="listings">Listings</h2>
    <table style="width:90%">
        
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Shape</th>
          <th>Created</th>
        </tr>
        {% for plant in plants %}
        <tr>
          <td>{{plant.title}}</td>
          <td>{{plant.plant_type}}</td>
          <td>{{plant.plant_shape}}</td>
          <td>{{plant.created_at}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endblock %}