<script src="https://kit.fontawesome.com/efcfbfa076.js" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
    {% extends "layout.html" %}
    
    {% block title %}
    Info
    {% endblock %}
    
    {% block body %}
    <div class="jumbotron">
        <h1 class="display-4">{{plant.plant_type}} {{plant.title}}</h1>
        <img src="{{ plant.display_picture.url }}" class="img_info_size"/>
        <p class="lead">{{plant.description}}</p>
        <hr class="my-4">
        <p>-This is a {{plant.plant_shape}}</p>
        <p>-Posted by {{plant.uploader}} on {{plant.created_at}}</p>
        <p><a id ="mail" href="mailto:{{plant.uploader.email}}" target="_blank"
            ><i id="icon" class="far fa-envelope"></i> Contact the poster!</a></p>
        <a class="btn btn-success btn-lg" href="/" role="button">Go Back</a>
    </div>

    {% endblock %}